<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/materialize/style/styleCss.css"/>

    <title>Detalhes do pedido</title>
</head>
<body>
<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Atualizar Evento</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de eventos</a></li>
            </ul>
        </div>
    </nav>
</header>

    <div class="container formEvento">
    <th:block th:include="mensagemValidacao"></th:block>
    <form class="container" method="post"  action="/atualizarEvento" th:object="${evento}" autocomplete="off">

        Nome:    <input type="text" value="" name="nome"  th:field="*{nome}" />
        <div class="row">
            <div class="input-field col s6">
                Local:   <input type="text" value="" name="local"  th:field="*{local}" />
            </div>
            <div class="input-field col s3">
                Data:    <input type="date" value="" name="data"  th:field="*{data}" />
            </div>
            <div class="input-field col s3">
                horário: <input type="time" value="" name="horario"  th:field="*{horario}" />
            </div>
        </div>
        <button  class="waves-effect waves-light btn" type="submit">Salvar</button>
    </form>
</div>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>
